---
id: '17nTZZRqe8ofCm6bTCe4FAmPyZqREjkWRE7MwrZn_XOU'
title: 'CC 2 - Implementation of Improvements that Contribute to More Timely Communication of Test Results'
date: '2020-02-27T20:52:05.062Z'
version: 16
mimeType: 'text/x-markdown'
links:
  - 'https://qpp.cms.gov/mips/improvement-activities?py=2018'
  - 'https://qpp.cms.gov/mips/improvement-activities?py=2019'
  - 'https://qpp.cms.gov/resource/2018%20MIPS%20Improvement%20Activities%20Fact%20Sheet'
  - 'https://qpp.cms.gov/resource/2018%20MIPS%20APMs%20improvement%20Activities%20scores%20fact%20sheet'
source: 'https://drive.google.com/open?id=17nTZZRqe8ofCm6bTCe4FAmPyZqREjkWRE7MwrZn_XOU'
wikigdrive: '8934ab392b82c3a1d5a8ae9fb7795d99e93c12ca'
menu:
  main:
    name: 'CC 2 - Implementation of Improvements that Contribute to More Timely Communication of Test Results'
    identifier: '17nTZZRqe8ofCm6bTCe4FAmPyZqREjkWRE7MwrZn_XOU'
    parent: '1YbPb92y_0ZPiXk8hR-D11GKV_1AacyaOZNnv2MQmDWI'
    weight: 2980
---




**Activity Weighting**: Medium  
**Subcategory Name**: Care Coordination  
**Description**: Timely communication of test results defined as timely identification of abnormal test results with timely follow-up.




Supporting Documentation  
EHR reports or medical records demonstrating timely communication of abnormal test results to patient (capturing the communication rate and working toward improvement of that rate).




Resources  
[2018 Improvement Activities Requirements](https://qpp.cms.gov/mips/improvement-activities?py=2018)  
[2019 Improvement Activities Requirements](https://qpp.cms.gov/mips/improvement-activities?py=2019)  
[2018 MIPS Improvement Activities Fact Sheet](https://qpp.cms.gov/resource/2018%20MIPS%20Improvement%20Activities%20Fact%20Sheet)  
[Scores for Improvement Activities for MIPS APMs in the 2018 Performance Period Fact Sheet](https://qpp.cms.gov/resource/2018%20MIPS%20APMs%20improvement%20Activities%20scores%20fact%20sheet)
