.breadcrumbs {
  font-size: 10pt;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  margin: 0;
  li a {
    display: inline-flex;
    margin-left: 5px;
  }
  li a:first-child {
    display: inline-flex;
    margin-left: 0px;
  }
  li svg {
    margin-left: 5px;
  }
}
