public*/
.wikigdrive
/resources
.vscode/
.wgd
.wgd-directory.yaml
.wgd-local-links.csv
.wgd-local-log.csv
*.debug.xml
.tree.json
node_modules
wikigdrive.json
.private
git.json
config/_default/menu.en.json
.hugo_build.lock
.idea
