$dark-mode-dark-lighten-10: lighten($dark-mode-dark, 10%);
$dark-mode-active-nav: darken($active-nav, 40%);

.card-title .summary-title-link {
  color: inherit !important;
  text-decoration: none;
}

@media (prefers-color-scheme: light) {
  .navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark {
    background-color: inherit !important;
  }

  body,
  aside#sidebar.sidebar,
  .sidebar-sticky {
    background-color: inherit !important;
    color: inherit !important;
  }

  .link-dark.seudo-btn a {
    background-color: inherit !important;
    color: inherit !important;
  }

}

@media (prefers-color-scheme: dark) {
  .navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark {
    background-color: $dark-mode-dark !important;
  }

  .alert-dark {
    --#{$prefix}alert-bg: #f7f7f733;
    --#{$prefix}alert-color: var(--alert-dark-color-dm);
  }

  .alert-info {
    --#{$prefix}alert-bg: #f3fcfe33;
    --#{$prefix}alert-color: var(--alert-info-color-dm);
  }

  .alert-success {
    --#{$prefix}alert-bg: #f4f9f633;
    --#{$prefix}alert-color: var(--alert-success-color-dm);
  }

  .alert-warning {
    --#{$prefix}alert-bg: #fff3cd33;
    --#{$prefix}alert-color: var(--alert-warning-color-dm);
  }

  code {
    padding: 2px 5px;
    border-radius: 5px;
    background-color: rgba(0,0,0, 0.4);
    color: var(--bs-code-color-dm) !important;
  }

  body,
  aside#sidebar.sidebar,
  .sidebar-sticky,
  .navbar-nav.bg-light {
    background-color: $dark-mode-dark-lighten-10 !important;
    color: rgba(250, 250, 250, 1) !important;
  }

  .link-dark.seudo-btn {
    color: rgba(250, 250, 250, 1) !important;
  }

  .btn.btn-toggle,
  .text-muted.copy-hash,
  table {
    color: rgba(250, 250, 250, 1) !important;
  }

  .btn.btn-toggle:hover,
  .btn-toggle-nav .btn-toggle:hover,
  .btn-toggle-nav .btn-toggle:focus,
  .active-nav {
    background-color: $dark-mode-active-nav !important;
    color: rgba(250, 250, 250, 1) !important;
  }

  .btn-toggle::before {
    color: white !important;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e") !important;
  }

  .form-control {
    background-color: unset !important;
    color: rgba(250, 250, 250, 1) !important;
  }

  .btn-secondary {
    background-color: $dark-mode-secondary !important;
    border: 1px solid rgba(250, 250, 250, 1) !important;
  }

  .btn-outline-secondary {
    border: 1px solid rgba(250, 250, 250, 1) !important;
    color: rgba(250, 250, 250, 1) !important;
  }

  .card {
    border: 1px solid #727272 !important;
  }

  .summary {
    color: $white;
  }

  article.content.post .card{
    background-color: #393939;
  }

  a {
    color: var(--primary-dm);
  }

}
