// Local Brand Overrides
// LOCAL PLACEHOLDER -- KEEP THIS DOCUMENT!

$darkorange: #e46020;
$orange: #f47825;

$primary: $darkorange;
$secondary: $orange;


$navbar-bg: $darkgrey4;

h2 {
  color: #000000;
  font-size: 120px;
  ;
}