{{ $page := .page }} {{ $site := .site }}
<ul>
  {{ range .menu }} {{ $is := $page.IsMenuCurrent "main" . }} {{ $has := $page.HasMenuCurrent "main" . }} {{ if
  .HasChildren }}
  <li>
    <a href="{{ .URL }}">
      {{ .Name }} {{ if $is }}[Is]{{ end }} {{ if $has }}[Has]{{ end }} {{ if .HasChildren }}[Children]{{ end }}
    </a>
  </li>
  {{ else }}
  <li>
    <a href="{{ .URL }}">
      {{ .Name }} {{ if $is }}[Is]{{ end }} {{ if $has }}[Has]{{ end }} {{ if .HasChildren }}[Children]{{ end }}
    </a>
  </li>
  {{ end }} {{ end }}
</ul>
