@media print {
  body {
    padding-top: 0 !important;
    overflow: visible;
    display: -webkit-box;
    display: -moz-box;
    display: box !important;

    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  div.card {
    display: block;
    break-inside: avoid;
  }

  header {
    nav {
      display: none !important;
    }
  }

  embed,
  object,
  video,
  audio,
  #sidebar,
  .copy-hash {
    display: none !important;
  }

  a {
    text-decoration: none;
  }

  h2.heading,
  h3.heading {
    a {
      text-decoration: none;
    }
  }

  div.toc-print {
    page-break-after: always;
  }

  div.row.footer-cta,
  div.scroll-to-top {
    display: none !important;
  }

  div.btn-toolbar {
    .btn-group {
      display: none !important;
    }
  }

  #index-main,
  #index-main > .row,
  div.container-fluid,
  div.container-fluid > .row,
  div.alert,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: block;
  }

  img {
    max-width: 100%;
  }

  @page {
    margin: 1.75cm 0.5cm;
  }
}
