@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap");
@import "utilities/utilities";
@import "buttons/buttons";
@import "breadcrumbs/breadcrumbs";
@import "sidebar/sidebar";
@import "search/search";
@import "custom/custom";
@import "swal/swal";
@import "animations/animations";
