.seudo-btn {
  padding: 0.375rem .75rem;
  line-height: 1.5;
  border-radius: .375rem;
}

.btn-toggle {
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
}

.btn-toggle a,
.btn-toggle a:hover,
.btn-toggle a:focus,
.seudo-btn:hover a,
.seudo-btn:focus a,
.seudo-btn a {
  background-color: inherit !important;
  color: inherit !important;
}


.btn-toggle::before {
  width: 1.5em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav .btn-toggle-nav {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
}

.btn-toggle-nav .btn-toggle:hover,
.btn-toggle-nav .btn-toggle:focus,
.active-nav {
  background-color: $active-nav !important;
}

.btn-close.white {
  color: #fff !important;
}

.scroll-to-top {
  position: relative;
}

.btn-position {
  position: fixed;
  bottom: 40px;
  right: 25px;
  z-index: 20;
}

.btn-style {
  background-color: #551b54;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: #fff;
  cursor: pointer;
  animation: movebtn 3s ease-in-out infinite;
  transition: all 0.5s ease-in-out;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.icon-style:hover {
  animation: none;
  background: #fff;
  color: #551b54;
  border: 2px solid #551b54;
}

@keyframes movebtn {
  0% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.seudo-btn:hover,
.seudo-btn:focus,
.seudo-btn:hover,
.seudo-btn:focus {
  color: rgba(0, 0, 0, .85) !important;
  background-color: $active-nav !important;
}
