.icon-warning {
  *zoom: expression(
    this.runtimeStyle[ "zoom"] = "1",
    this.innerHTML = "&#xe801;&nbsp;"
  );
}
.icon-map {
  *zoom: expression(
    this.runtimeStyle[ "zoom"] = "1",
    this.innerHTML = "&#xe802;&nbsp;"
  );
}
.icon-nurse {
  *zoom: expression(
    this.runtimeStyle[ "zoom"] = "1",
    this.innerHTML = "&#xe803;&nbsp;"
  );
}
.icon-papers {
  *zoom: expression(
    this.runtimeStyle[ "zoom"] = "1",
    this.innerHTML = "&#xe804;&nbsp;"
  );
}
.icon-pencil {
  *zoom: expression(
    this.runtimeStyle[ "zoom"] = "1",
    this.innerHTML = "&#xe805;&nbsp;"
  );
}
.icon-pill {
  *zoom: expression(
    this.runtimeStyle[ "zoom"] = "1",
    this.innerHTML = "&#xe806;&nbsp;"
  );
}
.icon-scale {
  *zoom: expression(
    this.runtimeStyle[ "zoom"] = "1",
    this.innerHTML = "&#xe807;&nbsp;"
  );
}
.icon-test-tubes {
  *zoom: expression(
    this.runtimeStyle[ "zoom"] = "1",
    this.innerHTML = "&#xe808;&nbsp;"
  );
}
.icon-truck {
  *zoom: expression(
    this.runtimeStyle[ "zoom"] = "1",
    this.innerHTML = "&#xe809;&nbsp;"
  );
}
.icon-lungs {
  *zoom: expression(
    this.runtimeStyle[ "zoom"] = "1",
    this.innerHTML = "&#xe80a;&nbsp;"
  );
}
.icon-clipboard {
  *zoom: expression(
    this.runtimeStyle[ "zoom"] = "1",
    this.innerHTML = "&#xe80b;&nbsp;"
  );
}
.icon-checklist {
  *zoom: expression(
    this.runtimeStyle[ "zoom"] = "1",
    this.innerHTML = "&#xe80c;&nbsp;"
  );
}
.icon-file-grid {
  *zoom: expression(
    this.runtimeStyle[ "zoom"] = "1",
    this.innerHTML = "&#xe80d;&nbsp;"
  );
}
.icon-broswer {
  *zoom: expression(
    this.runtimeStyle[ "zoom"] = "1",
    this.innerHTML = "&#xe80e;&nbsp;"
  );
}
.icon-cancel {
  *zoom: expression(
    this.runtimeStyle[ "zoom"] = "1",
    this.innerHTML = "&#xe81c;&nbsp;"
  );
}
.icon-calendar-cancel {
  *zoom: expression(
    this.runtimeStyle[ "zoom"] = "1",
    this.innerHTML = "&#xe81d;&nbsp;"
  );
}
.icon-clock {
  *zoom: expression(
    this.runtimeStyle[ "zoom"] = "1",
    this.innerHTML = "&#xe81e;&nbsp;"
  );
}
.icon-asset-70 {
  *zoom: expression(
    this.runtimeStyle[ "zoom"] = "1",
    this.innerHTML = "&#xe822;&nbsp;"
  );
}
.icon-files {
  *zoom: expression(
    this.runtimeStyle[ "zoom"] = "1",
    this.innerHTML = "&#xe823;&nbsp;"
  );
}
.icon-flow-chart {
  *zoom: expression(
    this.runtimeStyle[ "zoom"] = "1",
    this.innerHTML = "&#xe824;&nbsp;"
  );
}
.icon-badge {
  *zoom: expression(
    this.runtimeStyle[ "zoom"] = "1",
    this.innerHTML = "&#xe825;&nbsp;"
  );
}
.icon-apple {
  *zoom: expression(
    this.runtimeStyle[ "zoom"] = "1",
    this.innerHTML = "&#xe826;&nbsp;"
  );
}
.icon-barcode {
  *zoom: expression(
    this.runtimeStyle[ "zoom"] = "1",
    this.innerHTML = "&#xe827;&nbsp;"
  );
}
.icon-glasses {
  *zoom: expression(
    this.runtimeStyle[ "zoom"] = "1",
    this.innerHTML = "&#xe828;&nbsp;"
  );
}
.icon-hands {
  *zoom: expression(
    this.runtimeStyle[ "zoom"] = "1",
    this.innerHTML = "&#xe829;&nbsp;"
  );
}
.icon-calendar-edit {
  *zoom: expression(
    this.runtimeStyle[ "zoom"] = "1",
    this.innerHTML = "&#xe82b;&nbsp;"
  );
}
.icon-circle-check {
  *zoom: expression(
    this.runtimeStyle[ "zoom"] = "1",
    this.innerHTML = "&#xe82c;&nbsp;"
  );
}
.icon-roadblock {
  *zoom: expression(
    this.runtimeStyle[ "zoom"] = "1",
    this.innerHTML = "&#xe82d;&nbsp;"
  );
}
.icon-hospital-sign {
  *zoom: expression(
    this.runtimeStyle[ "zoom"] = "1",
    this.innerHTML = "&#xe82f;&nbsp;"
  );
}
.icon-finger {
  *zoom: expression(
    this.runtimeStyle[ "zoom"] = "1",
    this.innerHTML = "&#xe830;&nbsp;"
  );
}
.icon-bar-graph {
  *zoom: expression(
    this.runtimeStyle[ "zoom"] = "1",
    this.innerHTML = "&#xe831;&nbsp;"
  );
}
.icon-arrows {
  *zoom: expression(
    this.runtimeStyle[ "zoom"] = "1",
    this.innerHTML = "&#xe832;&nbsp;"
  );
}
