.top-level-parent {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

#TableOfContents li {
  position: relative;
}

#TableOfContents li a:first-child {
  display: flex;
  width: 100%;
  height: 21px;
}

#TableOfContents li a:nth-child(2) {
  pointer-events: none;
  position: absolute;
  transform: translateY(-21px);
}

.copy-hash {
  font-size: 10pt !important;
}

.card-title .summary-title-link {
  color: inherit;
  text-decoration: none;
}
