.top-level-parent {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

#TableOfContents {
  li {
    position: relative;
    a:first-child {
      display: flex;
      width: 100%;
    }
    a:not(:first-child) {
      pointer-events: none;
    }
  }
}

.copy-hash {
  font-size: 10pt !important;
}