// Page
// Component

@media only screen and (min-width:0px) {
header {
  // position: fixed;
}
  .navbar {
    background-color: $navbar-bg;
    min-height: 72px;
    .navbar-main {
      flex-grow: 1;
    }
    .navbar-brand {
    @include py(.725rem);
      img {
        width: 160.24px;
        height: 40px;
      }
    }

    &.navbar-light .navbar-toggler {
      border-color: rgba(255, 255, 255, .0);
    }

    &.navbar-light .navbar-toggler-icon {
      background-image: url(data:image/svg+xml;charset=utf8;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMzAgMzAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggc3Ryb2tlPSJyZ2JhKDAsIDAsIDAsIDAuNSkiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIGQ9Ik00IDdoMjJNNCAxNWgyMk00IDIzaDIyIi8+PC9zdmc+);
    }

    &.navbar-expand-lg {
      .nav-link {
        font-size: 13px;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: $nav-link-padding-x;
        margin-right: $nav-link-padding-x;
        color: $darkgray4;
        border-bottom: 1px solid rgba(0, 0, 0, 0);

        &:hover,
        &.active {
          // text-decoration: underline;
          color: $white;
          border-bottom: 1px solid $light;
        }
      }

      .dropdown-toggle::after {
        display: none;
      }

      .btn {
        font-size: 13px;
        line-height: 30px;
      }
    }
  }

  .breadcrumb-item {
    font-size: 11px;
  }
}

@media only screen and (min-width:320px) {}

@media only screen and (min-width:360px) {}

@media only screen and (min-width:567px) {
header {
  position: initial;
  top: 0px;
}
  .navbar {
    background-color: $navbar-bg;

    &.navbar-expand-lg .nav-link {
      color: $white;
    }

    &.navbar-light .navbar-toggler-icon {
      background-image: url(data:image/svg+xml;charset=utf8;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMzAgMzAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggc3Ryb2tlPSJyZ2JhKDI1NSwgMjU1LCAyNTUsIDAuNSkiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIGQ9Ik00IDdoMjJNNCAxNWgyMk00IDIzaDIyIi8+PC9zdmc+);
    }
  }
}

@media only screen and (min-width:768px) {}

@media only screen and (min-width:992px) {}

@media only screen and (min-width:1280px) {

  .navbar {
    .navbar-brand {
      @include py();
      img {
        width: 200.33px;
        height: 60px;
      }
    }

    &.navbar-expand-lg {
      .nav-link {
        font-size: 13px;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: $nav-link-padding-x;
        margin-right: $nav-link-padding-x;
        color: $white;

        &:hover {
          // text-decoration: underline;
          border-bottom: 1px solid $light;
        }
      }

      .dropdown-toggle::after {
        display: none;
      }

      .btn {
        font-size: 13px;
        line-height: 30px;
      }
    }
  }

  .breadcrumb-item {
    font-size: 11px;
  }
}

@media only screen and (min-width:1400px) {}